#zoo-banner {
  height: 85vh;
  position: relative;

  .zoo-carousel {
    height: inherit;
    overflow: hidden;
    display: grid;

    .zoo-carousel-slide {
      background-size: cover;
      background-position: center top;

      &.slide-1 {
        background-image: url("assets/pexels-haugenzhays-zhang-1435496.jpg");
      }

      &.slide-2 {
        background-image: url("assets/pexels-pixabay-259434.jpg");
      }

      &.slide-3 {
        background-image: url("assets/pexels-jimmy-chan-1000529.jpg");
      }
    }
  }

  .prev, .next {
    position: absolute;

    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 50%;
    background-color: #DBF227;

    color: black;
    font-size: 2.5rem;

    top: 50%;
  }

  .prev {
    left: 10%;
  }

  .next {
    right: 10%;
  }

}
